In [16]:
import json
from pathlib import Path
import pandas as pd
import numpy as np
import seaborn as sns                       
import matplotlib.pyplot as plt             
%matplotlib inline     
sns.set(color_codes=True)
import warnings
warnings.filterwarnings('ignore')

# Lista para armazenar todos os objetos JSON
dados_lista = []

# Lê linha por linha
with open(r"C:\Users\u129509\OneDrive - Straumann Group\Desktop\Vargas_proj\transcript.json", 'r', encoding='utf-8') as arquivo:
     for linha in arquivo:
        linha = linha.strip()
        if linha:
            try:
                obj_json = json.loads(linha)
                dados_lista.append(obj_json)
            except json.JSONDecodeError:
                continue

# Converte para DataFrame
df_transcript = pd.json_normalize(dados_lista)
df_transcript.head(10)

,person,event,time,value.offer id,value.amount,value.offer_id,value.reward
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN,NaN
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN
2,e2127556f4f64592b11af22de27a7932,offer received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN,NaN
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,NaN
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN,NaN
5,389bc3fa690240e798340f5a15918d5c,offer received,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN,NaN,NaN
6,c4863c7985cf408faee930f111475da3,offer received,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN,NaN,NaN
7,2eeac8d8feae4a8cad5a6af0499a211d,offer received,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,NaN
8,aa4862eba776480b8bb9c68455b8c2e1,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN
9,31dda685af34476cad5bc968bdb01c53,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN

In [3]:
# Lista para armazenar todos os objetos JSON
dados_lista = []

# Lê linha por linha
with open(r"C:\Users\u129509\OneDrive - Straumann Group\Desktop\Vargas_proj\portfolio.json", 'r', encoding='utf-8') as arquivo:
    for linha in arquivo:
        linha = linha.strip()  # Remove espaços e quebras de linha
        if linha:  # Se a linha não estiver vazia
            try:
                obj_json = json.loads(linha)
                dados_lista.append(obj_json)
            except json.JSONDecodeError as e:
                print(f"⚠️ Erro na linha: {linha[:50]}... - {e}")

# Converte para DataFrame
df_portfolio = pd.DataFrame(dados_lista)
df_portfolio.head(10)

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7.0,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5.0,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4.0,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7.0,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10.0,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3.0,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5.0,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7.0,discount,2906b810c7d4411798c6938adc9daaa5

In [4]:
# Lista para armazenar todos os objetos JSON
dados_lista = []

# Lê linha por linha
with open(r"C:\Users\u129509\OneDrive - Straumann Group\Desktop\Vargas_proj\profile.json", 'r', encoding='utf-8') as arquivo:
    for linha in arquivo:
        linha = linha.strip()  # Remove espaços e quebras de linha
        if linha:  # Se a linha não estiver vazia
            try:
                obj_json = json.loads(linha)
                dados_lista.append(obj_json)
            except json.JSONDecodeError as e:
                print(f"⚠️ Erro na linha: {linha[:50]}... - {e}")

# Converte para DataFrame
df_profile = pd.DataFrame(dados_lista)
df_profile.head(10)

  gender  age                                id became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783         20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b         20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5         20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef         20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43         20170804       NaN
5      M   68  e2127556f4f64592b11af22de27a7932         20180426   70000.0
6   None  118  8ec6ce2a7e7949b1bf142def7d0e0586         20170925       NaN
7   None  118  68617ca6246f4fbc85e91a2a49552598         20171002       NaN
8      M   65  389bc3fa690240e798340f5a15918d5c         20180209   53000.0
9   None  118  8974fc5686fe429db53ddde067b88302         20161122       NaN

In [12]:
# Junta os DataFrames pela coluna "id"
df_completo = pd.merge(df_transcript, df_profile, 
                       left_on='person', right_on='id', 
                       how='inner')


df_completo.head(10)

,person,event,time,value.offer id,value.amount,value.offer_id,value.reward,gender,age,id,became_member_on,income
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN,NaN,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN,None,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN
2,e2127556f4f64592b11af22de27a7932,offer received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN,NaN,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,NaN,None,118,8ec6ce2a7e7949b1bf142def7d0e0586,20170925,NaN
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN,NaN,None,118,68617ca6246f4fbc85e91a2a49552598,20171002,NaN
5,389bc3fa690240e798340f5a15918d5c,offer received,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN,NaN,NaN,M,65,389bc3fa690240e798340f5a15918d5c,20180209,53000.0
6,c4863c7985cf408faee930f111475da3,offer received,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN,NaN,NaN,None,118,c4863c7985cf408faee930f111475da3,20170824,NaN
7,2eeac8d8feae4a8cad5a6af0499a211d,offer received,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,NaN,M,58,2eeac8d8feae4a8cad5a6af0499a211d,20171111,51000.0
8,aa4862eba776480b8bb9c68455b8c2e1,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN,F,61,aa4862eba776480b8bb9c68455b8c2e1,20170911,57000.0
9,31dda685af34476cad5bc968bdb01c53,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN,F,62,31dda685af34476cad5bc968bdb01c53,20160211,71000.0

In [13]:
df_completoo = pd.merge(df_completo, df_portfolio, 
                       left_on='value.offer id', right_on='id', 
                       how='inner')


df_completoo.head(10)

,person,event,time,value.offer id,value.amount,value.offer_id,value.reward,gender,age,id_x,became_member_on,income,reward,channels,difficulty,duration,offer_type,id_y
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN,NaN,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,5,"[web, email, mobile]",5,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN,None,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN,5,"[web, email]",20,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
2,e2127556f4f64592b11af22de27a7932,offer received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN,NaN,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0,2,"[web, email, mobile]",10,7.0,discount,2906b810c7d4411798c6938adc9daaa5
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,NaN,None,118,8ec6ce2a7e7949b1bf142def7d0e0586,20170925,NaN,2,"[web, email, mobile, social]",10,10.0,discount,fafdcd668e3743c1bb461111dcafc2a4
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN,NaN,None,118,68617ca6246f4fbc85e91a2a49552598,20171002,NaN,10,"[web, email, mobile, social]",10,5.0,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
5,389bc3fa690240e798340f5a15918d5c,offer received,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN,NaN,NaN,M,65,389bc3fa690240e798340f5a15918d5c,20180209,53000.0,5,"[web, email, mobile, social]",5,5.0,bogo,f19421c1d4aa40978ebb69ca19b0e20d
6,c4863c7985cf408faee930f111475da3,offer received,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN,NaN,NaN,None,118,c4863c7985cf408faee930f111475da3,20170824,NaN,3,"[web, email, mobile, social]",7,7.0,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
7,2eeac8d8feae4a8cad5a6af0499a211d,offer received,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN,NaN,M,58,2eeac8d8feae4a8cad5a6af0499a211d,20171111,51000.0,0,"[web, email, mobile]",0,4.0,informational,3f207df678b143eea3cee63160fa8bed
8,aa4862eba776480b8bb9c68455b8c2e1,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN,F,61,aa4862eba776480b8bb9c68455b8c2e1,20170911,57000.0,5,"[web, email]",20,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
9,31dda685af34476cad5bc968bdb01c53,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,NaN,F,62,31dda685af34476cad5bc968bdb01c53,20160211,71000.0,5,"[web, email]",20,10.0,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [ ]:
data_na = (data.isnull().sum() / len(data)) * 100
data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)[:30]

fig, ax = plt.subplots(figsize=(7, 3))

sns.barplot(x = data_na.index, y=data_na, ax=ax)
ax.set_xticklabels(ax.get_xticklabels(), rotation=90)
ax.set(xlabel='Features', ylabel='Percentual de valores missing', 
       title='Percentual de dados missing por variável')
ax.grid(True)

plt.show()